name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: setup uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - run: make test

  integration-testpypi:
    name: "Integration test: publish to TestPyPI with attestations"
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write # for Trusted Publishing + attest-action

    environment:
      name: testpypi

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: setup-uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: generate package
        run: |
          uv init --lib astral-attest-action-test-pypi

      - name: version package
        working-directory: astral-attest-action-test-pypi
        run: |
          version="0.0.$(uv run python -m random -i 4294967296)"
          uv version "${version}"

      - name: build package
        working-directory: astral-attest-action-test-pypi
        run: uv build

      - name: attest
        uses: ./
        with:
          paths: astral-attest-action-test-pypi/dist/*

      - name: publish to TestPyPI
        working-directory: astral-attest-action-test-pypi
        run: uv publish --trusted-publishing=always
